<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ricicla"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProdottiActivity"
            android:label="@string/title_activity_ricerca" >
        </activity>
        <activity
            android:name=".BidoniActivity"
            android:label="@string/title_activity_bidoni" >
        </activity>
        <activity
            android:name=".CalendarioActivity"
            android:label="@string/title_activity_calendario" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".ExitActivity"
            android:label="@string/title_activity_exit" >
        </activity>
    </application>

</manifest>
